#nav-list {
	text-align: center;
}

#nav-list li {
	padding: 5px;
}

#menu {
	margin: 10px;
}

#menu .row > div {
	padding: 10px;
}

#menu section {
	background-color: grey;
	padding: 10px;
}

#menu h3 {
	margin: 0px;
	padding: 5px;
}
